emotional_diary_app/node_modules

first_homepage/bin
first_homepage/profile

responsive/.vscode

vanilla_movie_app/.parcel-cache
vanilla_movie_app/dist
vanilla_movie_app/node_modules
vanilla_movie_app/.DS_Store
vanilla_movie_app/.vscode
vanilla_movie_app/.vercel
vanilla_movie_app/.env 






