.Header {
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  border-bottom: 1px solid #e2e2e2;
  font-family: 'YClover-Bold';
  &>div {
    display: flex;
  }
  button {
    // font-family: 'YClover-Bold';
  }
  .header_title {
    justify-content: center;
    width: 50%;
    font-size: 25px;
  }
  .header_left {
    width: 25%;
    justify-content: start;
  }
  .header_right {
    width: 25%;
    justify-content: end;
  }
}